// ==========================================================================
// General Template
// ==========================================================================

//  1. Reset
// ==========================================================================

@import 'reset';

//  2. Variables
// ==========================================================================

@import 'variables';

$background-dark: #4e4d4a;

//  3. Typography
// ==========================================================================

@import 'typography';

//  4. Global
// ==========================================================================

body {
  height: 100vh;
  width: 100vw;
  font-family: $font-family;
}
